# Insights from City Supply and Demand Data

## Objective

### Using the data, solve for the following questions

+ Which date had the most completed trips during the two week period?
+ What was the highest number of completed trips within a 24 hour period?
+ Which hour of the day had the most requests during the two week period?
+ What percentages of all zeroes during the two week period occurred on weekend (Friday at 5 pm to Sunday at 3 am)? Tip: The local time value is the start of the hour (e.g.     15 is the hour from 3:00pm - 4:00pm)
+ What is the weighted average ratio of completed trips per driver during the two week period? Tip: "Weighted average" means your answer should account for the total trip       volume in each hour to determine the most accurate number in whole period.
+ In drafting a driver schedule in terms of 8 hours shifts, when are the busiest 8 consecutive hours over the two week period in terms of unique requests? A new shift starts   in every 8 hours. Assume that a driver will work same shift each day.
+ True or False: Driver supply always increases when demand increases during the two week period. Tip: Visualize the data to confirm your answer if needed.
+ In which 72 hour period is the ratio of Zeroes to Eyeballs the highest?
+ If you could add 5 drivers to any single hour of every day during the two week period, which hour should you add them to? Hint: Consider both rider eyeballs and driver       supply when choosing
+ True or False: There is exactly two weeks of data in this analysis
+ Looking at the data from all two weeks, which time might make the most sense to consider a true "end day" instead of midnight? (i.e when are supply and demand at both their   natural minimums) Tip: Visualize the data to confirm your answer if needed.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('../chaco/data/uber_data.csv')

df.sample(n = 5, random_state = 42)

,Date,Time (Local),Eyeballs,Zeroes,Completed Trips,Requests,Unique Drivers
72,2012-09-13,7,10,1,1,1,4
110,2012-09-14,21,49,6,8,9,17
298,2012-09-22,17,41,2,8,10,20
108,2012-09-14,19,46,6,9,10,15
277,2012-09-21,20,63,8,14,21,28

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             336 non-null    object
 1   Time (Local)     336 non-null    int64
 2   Eyeballs         336 non-null    int64
 3   Zeroes           336 non-null    int64
 4   Completed Trips  336 non-null    int64
 5   Requests         336 non-null    int64
 6   Unique Drivers   336 non-null    int64
dtypes: int64(6), object(1)
memory usage: 18.5+ KB

In [7]:
round(df.describe(),2)

,Time (Local),Eyeballs,Zeroes,Completed Trips,Requests,Unique Drivers
count,336.00,336.0,336.00,336.00,336.00,336.00
mean,11.50,19.9,4.25,4.06,5.53,7.90
std,6.93,16.9,5.80,5.67,7.40,5.88
min,0.00,0.0,0.00,0.00,0.00,0.00
25%,5.75,9.0,1.00,0.00,1.00,3.00
50%,11.50,17.0,3.00,2.00,3.00,8.00
75%,17.25,25.0,5.00,5.00,6.25,11.00
max,23.00,99.0,59.00,36.00,46.00,30.00

In [8]:
df.isnull().sum()

Date               0
Time (Local)       0
Eyeballs           0
Zeroes             0
Completed Trips    0
Requests           0
Unique Drivers     0
dtype: int64